<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
  Name a human: <input type="text" name="human">
  <br>
  Choose a color: 
    <input type="radio" name="4_colors" value = "green">Green
    <input type="radio" name="4_colors" value = "olive">Olive
    <input type="radio" name="4_colors" value = "seagrass">Sea Grass
    <input type="radio" name="4_colors" value = "chartreuse">Chartreuse
  <br>
  Select a noun: <input type="text" name="noun">
  <br>
  Adjective: 
    <select name = "adjective">
        <option value="spicy">Spicy</option>
        <option value="hot">Hot</option>
        <option value="flavorful">Flavorful</option>
        <option value="refreshing">Refreshing</option>
    </select>
  <input type="submit">
</form>

</body>
</html>
